<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration PHPUnit -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="11.3"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_SECRET" value="test_secret_value"/>
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ symfony/routing ### -->
        <!-- Configure how to generate URLs in non-HTTP contexts, such as CLI commands. -->
        <!-- See https://symfony.com/doc/current/routing.html#generating-urls-in-commands -->
        <env name="DEFAULT_URI" value="http://localhost"/>
        <!-- ###- symfony/routing ### -->

        <!-- DATABASE_URL est fourni par Docker, pas besoin de le redefinir ici -->

        <!-- JWT : les cles et passphrase sont fournis par .env, pas besoin de les redefinir ici -->

        <!-- ###+ nelmio/cors-bundle ### -->
        <env name="CORS_ALLOW_ORIGIN" value="'^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'"/>
        <!-- ###- nelmio/cors-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <bootstrap class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>

    <coverage/>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
